@font-face {
    font-family: font;
    src: url(/res/neuropol.ttf);
}
body {
	margin-bottom: 80px;
}

*{
	font-family: cursive;
}
.site-title{
    font-family: font;
    color: lightskyblue;
	text-decoration: none;
}
.site-title:hover,.site-title:focus{
    color: skyblue;
	text-decoration: none;
}
.site-title.small{
    font-size: 20px;
	text-decoration: none;
}
@media screen and (max-width: 990px) {
	.site-title{
		font-size: 30px;
	}
}
@media screen and (max-width: 768px) {
	.site-title{
		font-size: 20px;
	}
}
.logo{
	margin: 5px;
}
.logo.small{
	margin: 0px;
}

#back-to-top{
	display: none;
    font-size: 2em;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
	box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
	z-index: 1000;
}
@media screen and (max-width: 930px) {
	#back-to-top{
	    top: 20px;
	    bottom: auto;
	}
}

.blueimp-gallery>.slides>.slide>.slide-content{
	padding: 5px;
}